*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* .Heading
{
  text-align: center;
  margin-top: 50px;
} */

/* table{
  text-align: center;
  justify-content: center;
  
  display: flex;
  border: 2px solid black;
}
th
{
  margin-left: 30px; */
.box
{
  width: 300px;
  height: 400px;
  background-color: #a5bbdd;
  margin-top: 100px;
  border-radius: 20px;


}
body
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 134, 149, 0.945);
}
.inputField
{
  text-align: center;
  
}
.Search-field
{
  margin-top: 10px;
  font-size: 20px;
  height: 40px;
  border-radius: 30px;
  border: none;
  text-align: center;
}
.info
{
  text-align: center;
}
PersonPinCircleIcon
{
  font-size: 20px;
}
.icon
{
  margin-top: 30px;
  font-size: 50px;
}
.icon i{
  font-size: 50px;
}
.temp
{
  text-align: center;
  margin-top: 30px;
}
.Present
{
  font-size: 50px;
}
h3{
  color: rgb(7, 3, 70);
}
p{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
img
{
  height: 100px;
  width: 100px;
 
}
.img1
{
  text-align: center;
}
h5{
  text-align: center;
  margin-top: -20px;
}
